In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, f1_score
import re
import string

In [2]:
train = pd.read_csv('/kaggle/input/fake-news-classification/train (2).csv', sep=';')
test = pd.read_csv('/kaggle/input/fake-news-classification/test (1).csv', sep=';')
eval = pd.read_csv('/kaggle/input/fake-news-classification/evaluation.csv', sep=';')

In [3]:
train.head(1)

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1

In [4]:
test.head(1)

,Unnamed: 0,title,text,label
0,0,"Live from New York, it's a Trump-Clinton remat...",NEW YORK (Reuters) - Veteran actor and frequen...,1

In [5]:
eval.head(1)

,Unnamed: 0,title,text,label
0,0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1

In [6]:
train.shape, test.shape, eval.shape

((24353, 4), (8117, 4), (8117, 4))

In [7]:
data = pd.concat([train, test, eval], axis=0)

In [8]:
data.shape

(40587, 4)

In [9]:
data.head(5)

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0

In [10]:
data.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [11]:
data.pop('Unnamed: 0')

0          0
1          1
2          2
3          3
4          4
        ...
8112    8112
8113    8113
8114    8114
8115    8115
8116    8116
Name: Unnamed: 0, Length: 40587, dtype: int64

In [12]:
data.columns

Index(['title', 'text', 'label'], dtype='object')

In [13]:
data.head(1)

,title,text,label
0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1

In [14]:
def processText(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

data['title'] = data['title'].apply(processText)
data['text'] = data['text'].apply(processText)

In [15]:
data.head(5)

,title,text,label
0,palestinians switch off christmas lights in be...,ramallah west bank reuters palestinians s...,1
1,china says trump call with taiwan president wo...,beijing reuters u s president elect donal...,1
2,fail the trump organization s credit score w...,while the controversy over trump s personal ta...,0
3,zimbabwe military chief s china trip was norma...,beijing reuters a trip to beijing last wee...,1
4,the most uncourageous president ever receives ...,there has never been a more uncourageous perso...,0