In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, f1_score
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import string

In [2]:
train = pd.read_csv('/kaggle/input/fake-news-classification/train (2).csv', sep=';')
test = pd.read_csv('/kaggle/input/fake-news-classification/test (1).csv', sep=';')
eval = pd.read_csv('/kaggle/input/fake-news-classification/evaluation.csv', sep=';')

In [3]:
train.head(1)

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1

In [4]:
test.head(1)

,Unnamed: 0,title,text,label
0,0,"Live from New York, it's a Trump-Clinton remat...",NEW YORK (Reuters) - Veteran actor and frequen...,1

In [5]:
eval.head(1)

,Unnamed: 0,title,text,label
0,0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1

In [6]:
train.shape, test.shape, eval.shape

((24353, 4), (8117, 4), (8117, 4))

In [7]:
data = pd.concat([train, test, eval], axis=0)

In [8]:
data.shape

(40587, 4)

In [9]:
data.head(5)

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0

In [10]:
data.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [11]:
data.pop('Unnamed: 0')

0          0
1          1
2          2
3          3
4          4
        ...
8112    8112
8113    8113
8114    8114
8115    8115
8116    8116
Name: Unnamed: 0, Length: 40587, dtype: int64

In [12]:
data.columns

Index(['title', 'text', 'label'], dtype='object')

In [13]:
data.head(1)

,title,text,label
0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1

In [14]:
def processText(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

data['title'] = data['title'].apply(processText)
data['text'] = data['text'].apply(processText)

In [15]:
data.head(5)

,title,text,label
0,palestinians switch off christmas lights in be...,ramallah west bank reuters palestinians s...,1
1,china says trump call with taiwan president wo...,beijing reuters u s president elect donal...,1
2,fail the trump organization s credit score w...,while the controversy over trump s personal ta...,0
3,zimbabwe military chief s china trip was norma...,beijing reuters a trip to beijing last wee...,1
4,the most uncourageous president ever receives ...,there has never been a more uncourageous perso...,0

In [16]:
y = data.pop('label')
X = data.copy()

In [17]:
X.head(2)

,title,text
0,palestinians switch off christmas lights in be...,ramallah west bank reuters palestinians s...
1,china says trump call with taiwan president wo...,beijing reuters u s president elect donal...

In [18]:
y.head(2)

0    1
1    1
Name: label, dtype: int64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [20]:
X_test.shape

(8118, 2)

In [21]:
X_train.shape

(32469, 2)

In [22]:
vectorizer = TfidfVectorizer()

x1 = data['title']
x2 = data['text']

x1 = vectorizer.fit_transform(x1)
x2 = vectorizer.fit_transform(x2)

In [23]:
print(x1)
print(x2)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 462777 stored elements and shape (40587, 21957)>
  Coords	Values
  (0, 15134)	0.28048603804808064
  (0, 20109)	0.0947399050053756
  (0, 796)	0.2296976525426388
  (0, 1856)	0.452850125517141
  (0, 9768)	0.23423121676979106
  (0, 11319)	0.3862363283425796
  (0, 3382)	0.32017270978871587
  (0, 13416)	0.23936559392075724
  (0, 19123)	0.40419389524091154
  (0, 13857)	0.35678531956577586
  (1, 18539)	0.4216083059177137
  (1, 10277)	0.42301839619671605
  (1, 3169)	0.3259489800781733
  (1, 21630)	0.30027763207752456
  (1, 14858)	0.23450032476667315
  (1, 19197)	0.3778105737844253
  (1, 21590)	0.18550428684481954
  (1, 2786)	0.3156293330893364
  (1, 16977)	0.18388110740091607
  (1, 3329)	0.2617670019370966
  (1, 20109)	0.11310749592722615
  (2, 11014)	0.3917276089634742
  (2, 21834)	0.23410664639395265
  (2, 11733)	0.2726642206124024
  (2, 21522)	0.21104879383573125
  :	:
  (40584, 20938)	0.1731570600742336
  (40584, 13499)	0.14220055788347719
  (40584, 10489)	0.30256887610288413
  (40584, 19531)	0.14994340251540106
  (40584, 20109)	0.10371404217824734
  (40585, 1597)	0.3388667349520661
  (40585, 12574)	0.4132561390128892
  (40585, 21660)	0.29954852814522065
  (40585, 429)	0.2678586939556264
  (40585, 21925)	0.3536372013579567
  (40585, 5033)	0.3536372013579567
  (40585, 364)	0.2691207363975048
  (40585, 18516)	0.2074048237041274
  (40585, 19156)	0.2334412846338165
  (40585, 12106)	0.22263505388500193
  (40585, 467)	0.2885976892772848
  (40586, 10269)	0.39306886193581514
  (40586, 15454)	0.39611814979405474
  (40586, 15960)	0.3637915922040737
  (40586, 21597)	0.42483459886263647
  (40586, 13470)	0.30816589538722844
  (40586, 21804)	0.34411315887872046
  (40586, 20938)	0.18326619365097366
  (40586, 7916)	0.21497996644180042
  (40586, 12318)	0.287359623696733
<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 8396995 stored elements and shape (40587, 123232)>
  Coords	Values
  (0, 80715)	0.11399379400480227
  (0, 91591)	0.09129456339169088
  (0, 17881)	0.06682700628957351
  (0, 5082)	0.028526548075540236
  (0, 38722)	0.015112229985440508
  (0, 90637)	0.08833369333345815
  (0, 83969)	0.04313867276352976
  (0, 2520)	0.07662680460618099
  (0, 117033)	0.0716368337403158
  (0, 3375)	0.023892532140870806
  (0, 73141)	0.046466874239693354
  (0, 114110)	0.029563146734132916
  (0, 114066)	0.046182568221701914
  (0, 34618)	0.048249263975087435
  (0, 89800)	0.04897891587635513
  (0, 117064)	0.0849584082227868
  (0, 51268)	0.09307631748335923
  (0, 15792)	0.046249894762546984
  (0, 21598)	0.06438918180796743
  (0, 31394)	0.05003211285994793
  (0, 68801)	0.04842784359852541
  (0, 947)	0.043850729227514706
  (0, 72167)	0.05240393259429105
  (0, 5546)	0.09129456339169088
  (0, 60394)	0.07618956913447465
  :	:
  (40586, 4057)	0.04899394840220554
  (40586, 74047)	0.017436625590777764
  (40586, 44993)	0.07444576426971543
  (40586, 118019)	0.019507569321528192
  (40586, 9587)	0.02381926631474041
  (40586, 53717)	0.09767837732553405
  (40586, 46442)	0.01206390584054789
  (40586, 67565)	0.023814790336286695
  (40586, 94299)	0.13282107228615128
  (40586, 118851)	0.047471497465395716
  (40586, 99877)	0.0794264070439295
  (40586, 4180)	0.045637096946284976
  (40586, 117995)	0.11428539082485537
  (40586, 108272)	0.2622773107877525
  (40586, 76855)	0.10858711491140835
  (40586, 6237)	0.04556138298462456
  (40586, 109791)	0.0626819675993057
  (40586, 111602)	0.01455105255050276
  (40586, 29723)	0.015866655482495474
  (40586, 84861)	0.01409506209568754
  (40586, 77413)	0.06445600204048046
  (40586, 51158)	0.11849548341217009
  (40586, 6762)	0.024253180455050555
  (40586, 76867)	0.047951023610455036
  (40586, 91464)	0.02818691214525748